@use './variables' as *;

.card {
  box-sizing: border-box;
  width: $card-width;
  height: 408px;
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-family: roboto, sans-serif;
  transition: transform 300ms;
  overflow: hidden;

  &__image {
    width: 160px;
    height: 134px;
    margin-top: 32px;
    margin-left: 19px;
  }

  &__title {
    box-sizing: border-box;
    margin: 0;
    margin-top: calc(207px - 134px - 33px);
    margin-left: 16px;
    width: 166px;
    height: 36px;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    color: $card-color;
    transition: color 300ms;
  }

  &__code {
    box-sizing: border-box;
    margin: 0;
    margin-top: calc(247px - 207px - 36px);
    margin-left: 16px;
    width: 98px;
    height: 14px;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    color: $paragraph-color;
  }

  &__rate {
    box-sizing: border-box;
    margin-top: calc(277px - 247px - 14px);
    margin-left: 16px;
    width: 166px;
    height: 16px;
    display: flex;
    justify-content: space-between;
  }

  &__review {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 53px;
    height: 16px;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    color: $card-color;
  }

  &__price {
    box-sizing: border-box;
    width: 166px;
    height: 18px;
    margin-top: calc(317px - 277px - 16px);
    margin-left: 16px;
    display: flex;
    justify-content: space-between;

    &-title {
      width: 31px;
      height: 18px;
      line-height: 18px;
      font-size: 12px;
      font-weight: 400;
      color: $paragraph-color;
    }

    &-value {
      width: 50px;
      height: 18px;
      line-height: 18px;
      font-size: 16px;
      font-weight: 700;
      color: $card-color;
    }
  }

  &__button {
    box-sizing: border-box;
    width: 166px;
    height: 40px;
    margin-top: calc(351px - 317px - 18px);
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $active-color;
    border-radius: 5px;
    background-color: $active-color;
    color: $white-color;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;

    text-decoration: none;
    text-transform: uppercase;
    transition:
      color 300ms,
      background-color 300ms;

    &:hover {
      background-color: #fff;
      color: $active-color;
    }
  }

  &:hover {
    transform: scale(1.2);

    .card__title {
      color: $title-color;
    }
  }
}
