@use './variables' as *;

.catalog {
  max-width: calc(4 * 200px + 3 * 48px);
  margin: 0 auto;
  min-height: 862px;
  padding: 50px 40px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(1, 200px);
  gap: 46px 48px;
}
