@use './variables' as *;

.catalog {
  min-height: 862px;
  padding: 50px 40px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(1, 200px);
  gap: 46px 48px;
}
