@use '../styles/variables' as *;

.header {
  min-width: $small-header-width;
  box-sizing: border-box;
  height: $header-height;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
  box-shadow: 0 2px 4px #0000000d;

  &__logo {
    width: $logo-size;
    height: $logo-size;
  }
}
